#pageHeader {
	position: relative;
	width: 800px;
	padding: 0 20px 0 22px;
	margin: 0 auto;
}

#titleIcon {
	padding-top: 10px;
	margin-left: -6px;
}

#navContainer {
	margin-left: -15px;
}

#navContainer ul {
	list-style: none;
	padding-left: 0;
	position: relative;

}

#navContainer li {
	position: relative;
	display: inline;
}

#navContainer a {
	color: black;
	padding: 6px 15px 8px;
	font-size: 1.2em;
	text-decoration: none;
}

#navContainer a:hover{
	color: #59A4FF;
}

#pageFooter {
	position: relative;
	width: 800px;
	padding: 0 20px 0 22px;
	margin: 0 auto;
	clear: both;
}



#divider {
	clear: both;
	background-color: #59A4FF;
	margin-bottom: 20px;
	height: 4px;
	/*max-width: 800px;
	min-width: 600px;*/
}

.screenshotDivider {
	background-color: lightgray;
	height: 1px;
	margin-top: 25px;
	margin-bottom: 30px;
}

#sampleImageContainer {
	float: right;
	text-align: center;
	width: 55%;
}

#screenshotsContainer {
	text-align: center;
	width: 100%;
}

#container {
	position: relative;
	max-width: 800px;
	min-width: 600px;
	padding: 0 20px 0 22px;
	margin: 0 auto;
	/*max-width: 800px;
	min-width: 600px;*/
}

#contentContainter {
	width: 100%;
}

#introText {
	width: 42%;
}

#introText h4 {
	margin-top: 20px;
}

/* Manual page stuff */
#manualText h4 {
	margin-top: 20px;
}

#leftColumn {
	width: 48%;
	display: inline-block;
}

#rightColumn {
	width: 48%;
	float: right;
}

.toolbarIcon {
	float: left;
	margin-right: 4px;
}

#settingsLinks {
	margin-top: 40px;
}

#layoutSettingsText h4 {

}

.arrowImage {
	display: inline-block;
}

#tutorialText h4 {
	margin-top: 30px
}