#pageHeader {

	
}

#title {
	position: relative;
	width: 800px;
	padding: 0 20px 0 22px;
	margin: 0 auto;

}

#titleIcon {
	padding-top: 10px;
}

#navContainer {

}

#navContainer ul {
	list-style: none;
	padding-left: 0;
	position: relative;

}

#navContainer li {
	position: relative;
	display: inline;
}

#navContainer a {
	color: black;
	padding: 6px 15px 8px;
	font-size: 1.2em;
	text-decoration: none;
}

#navContainer a:hover{
	color: #59A4FF;
}

#sampleImageContainer {
	float: right;
	text-align: center;
	width:450px;
}

#divider {
	background-color: #59A4FF;
	margin-bottom: 20px;
	height: 4px;
	/*max-width: 800px;
	min-width: 600px;*/
}

#container {
	position: relative;
	width: 800px;
	padding: 0 20px 0 22px;
	margin: 0 auto;
	/*max-width: 800px;
	min-width: 600px;*/
}

#contentContainter {
	width: 100%;
}

#introText {
	width: 38%;
}

#introText h4 {
	margin-top: 20px;
}

#leftColumn {
	width: 48%;
	display: inline-block;
}

#rightColumn {
	width: 48%;
	float: right;
}
